body {
    color: #000;
    font-family: Times New Roman;
}
#wrapper {
  max-width: 95%; margin: 0 auto; padding-top: 20px;
}
.btn {
    border-radius: 0;
    margin-bottom: 5px;
}
.bootbox .modal-footer {
    border-top: 0;
    text-align: center;
}
h4 {
    margin: 5px 0;
}
.order_barcodes img {
    float: none !important;
    margin-top: 5px;
}
p{
    font-size: 12px;
}
@media print {
    .no-print { display: none; }
    #wrapper {width: 100%; min-width: 250px; margin: 0 auto; }
    .no-border { border: none !important; }
    .border-bottom { border-bottom: 1px solid #ddd !important; }
    table tfoot { display: table-row-group; }
    .tbl{
        page-break-inside: auto;
    }
    .tbl tr{
        page-break-inside: avoid;
        page-break-after: auto
    }
    .tbl td{
        border: 1px solid #a2a2a2;
        font-size: 14px;
        padding: 3px 6px 2px !important;
    }
    tr.noBorder td{
        border: 0 !important;
    }
    .tablePage {
        page-break-inside: auto;
    }
}

/* for footer print*/
footer {
    width: 100%;
    text-align: center;
}

@media print {
    .inv_black{
        -webkit-print-color-adjust: exact; 
        background-color: #000 !important;
        color: #fff !important;
        font-weight: bold;
        color: #fff;
        font-size: 25px;
        display: table;
        text-align: center;
        margin: 0 auto;
        padding: 3px 8px;
        margin-top: 10px;
        border-radius: 3px;
    }
  footer {
    position: fixed;
    bottom: 0;
  }

  .content-block, p {
    page-break-inside: avoid;
  }
}
/* for footer print*/

.inv_black{
    -webkit-print-color-adjust: exact; 
    background-color: #000;
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    display: table;
    text-align: center;
    margin: 0 auto;
    padding: 3px 8px;
    margin-top: 10px;
    border-radius: 3px;
}
.bold{
    font-weight:bold;   
}
.tbl{
    page-break-inside: auto;
}
.tbl tr{
    page-break-inside: avoid;
    page-break-after: auto
}
.tbl td{
    border: 1px solid #a2a2a2;
    font-size: 14px;
    padding: 3px 6px 2px !important;
}
tr.noBorder td{
  border: 0 !important;
}
.tablePage {
    page-break-inside: auto;
}
.logo_header{
    margin-bottom: 18px;
    overflow: hidden;
    display: inline-block;
    width:100%;
}