
$mainColor: #36405e;
$red: #FF503D;
$blue: #2196f3;
$purple: #9c27b0;
$pink: #e91e63;
$green: #8bc34a;
$grey: #607d8b;
$skyblue: #22bfe9;
$khoyre: #d6b614;
$green2: #31cf41;
$primary-color: #36405e;