.sidebar-mini {
  &.sidebar-collapse {
    .wrapper.arabic-lang {
      .main-header {
        padding: 0 0;
        .navbar-menu-right{ 
          .custom_gap_2{
            flex-direction: row-reverse !important;
            .menu-list {
              .user-info-box{
                margin-right: 0 !important;
              }
            }
          }
        }
        .navbar-menu-left{
          .shortcut-menus{
            flex-direction: row-reverse;
          }
        }
      }
    }
  }
  

  .wrapper.arabic-lang {
    .main-sidebar2 {
      .logo-wrapper {
        .logo-lg{
          text-align: right;
          margin-right: 13px;
          margin-left: -1px;
        }
      }
      .sidebar-toggle{
        right: 95%;
      }
    }
    .main-header {
      .navbar-menu-right{ 
        .custom_gap_2{
          flex-direction: row-reverse !important;
          .menu-list {
            .user-info-box{
              margin-right: 0 !important;
              .c-dropdown-menu{
                right: -145px;
              }
            }
          }
        }
      }
      .navbar-menu-left{
        .shortcut-menus{
          flex-direction: row-reverse;
        }
      }
    }

    .content-wrapper {
      margin-left: 0;
    }
    .main-header .navbar .wrapper_up_wrapper .hh_wrapper {
      .navbar-custom-menu {
        &:last-child {
          .menu-list {
            flex-direction: row-reverse;

            .user-info-box {
              margin-right: 30px;

              .user-profile {
                flex-direction: row-reverse;

                .user-info {
                  text-align: left;
                }

                .user-avatar {
                  margin-left: 0;
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }

    .main-sidebar .logo-wrapper .logo-lg,
    .main-sidebar2 {
      .sidebar-toggle {
        top: 20px !important;
      }
    }
  }
}

.wrapper.arabic-lang {
  .content-wrapper .treeview-menu-in li a {
    flex-direction: row-reverse;
  }
}

.main-header {
  &.sidebar2_active {
    .hh_wrapper {
      flex-direction: row-reverse;
      flex: 1;

      .navbar-custom-menu:last-child .nav.navbar-nav {
        display: flex;
        flex-direction: row-reverse;

        li:nth-child(2) {
          margin-right: 30px;
        }
      }

      .navbar .nav>li>a {
        flex-direction: row-reverse;

        svg {
          margin-left: 10px;
        }
      }
    }
  }

  .navbar {
    .wrapper_up_wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .hh_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        .menu-trigger-box {
          a {
            padding: 7px 2px;
          }
        }

        .screen-list {
          li {
            margin-right: 20px;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .menu-list {
          @include flex-align-center;
        }

        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;

          li {

            a {
              @include flex-align-center;
              text-decoration: none;
              color: #2c323f;

              svg {
                width: 20px;
                height: auto;
                margin-right: 6px;
              }
            }
          }
        }
      }
    }

    .navbar-custom-menu {
      &:last-child {
        .user-info-box {
          position: relative;
        }

        .user-profile {
          display: flex;
          align-items: center;

          img.user-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-left: 8px;
          }

          .user-info {
            text-align: left;

            p {
              margin: 0;
              font-weight: 600;
              font-size: 14px;
              color: #6e6b7b;
            }

            span {
              font-size: 13px;
              margin-left: 7px;
            }
          }
        }
        .c-dropdown-menu {
          position: absolute;
          top: 35px;
          right: -0px;
          background-color: white;
          box-shadow: 0 5px 25px rgba(34, 41, 47, 0.1);
          border: 1px solid rgba(34, 41, 47, 0.1);
          border-radius: 5px;
          transform: translateY(20px);
          pointer-events: none;
          opacity: 0;
          transition: all 0.3s;
          li {
            display: block;

            a {
              width: 100%;
              padding: 8px 10px;
              font-size: 14px;
              color: #6e6b7b;
              display: flex;
              align-items: center;
              white-space: nowrap;
              transition: all 0.3s;
              &:hover {
                background-color: rgba(139, 92, 246, 0.1);
                color: #8b5cf6 !important;
                border-radius: 5px;
              }
            }
          }
        }
      }
      .user_profile_active{
        pointer-events: auto !important;
        opacity: 1 !important;
        display: none;
      }
    }
  }

  #navbar-search-input.form-control {
    background: rgba(255, 255, 255, 0.2);
    border-color: transparent;

    &:active,
    &:focus {
      border-color: rgba(0, 0, 0, 0.1);
      background: rgba(255, 255, 255, 0.9);
    }

    ::placeholder {
      color: #ccc;
      opacity: 1;
    }
  }

  .c-navbar-right {
    display: flex;
  }

  .c-navbar-right .sidebar2_logo {
    display: none;
    align-items: center;

    .right__logo {
      .logo__mini {
        font-weight: bold;
        width: 50px;
        display: inline-block;
        font-size: 18px;
        text-align: center;
      }

      .logo__lg {
        width: 100%;
        display: none;
        text-align: center;
        transition: all 0.3s;

        img {
          width: 85%;
        }
      }
    }
  }
}

a.right__sidebar__toggle {
  padding: 14px 10px 10px 10px;
}

a.right__sidebar__toggle svg {
  width: 18px;
}

.layout-top-nav .main-header .navbar {
  margin-left: 0;
}

@media (min-width: 1026px) {
  .main-header .navbar .wrapper_up_wrapper .hh_wrapper {
    .screen-list {
      display: block;
      position: relative;
    }
  }
}

@media (max-width: 1024px) {
  .main-header .navbar .wrapper_up_wrapper .hh_wrapper .screen-list {
    position: absolute;
    top: 60px;
    left: 40px;
    background-color: white;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(34, 41, 47, 0.1);
    border: 1px solid rgba(34, 41, 47, 0.1);
    transition: all 0.3s;
    transform: translateY(20px);
    opacity: 0;
    pointer-events: none;

    &.active {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }

    li {
      display: block;
      margin-right: 0;

      a {
        padding: 10px 20px;
        display: block;
        transition: all 0.3s;

        &:hover {
          background-color: rgba($primary-color, 0.1);
          color: $primary-color;
        }
      }
    }
  }
}

